<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title></title>
</head>
<body>
    <input type="file" id="input"/>
    <button id="btn">获取</button>

    <!--<input type="file" name="file"-->
           <!--style="width: 200px; height: 20px;" onchange="PreviewImage(this)" id="upload" />-->

    <!--<div id="imgPreview" style="width:120px; height:100px;margin-left: 280px;">-->
    <!--</div>-->

</body>
</html>
<script src="../jquery.min.js"></script>
<script>
//    $(function () {
//        $('#btn').on('click',function(){
//            var x = $('#input').val();
//            alert(x);
//
//        })
//        function PreviewImage(imgFile)
//        {
//            var filextension=imgFile.value.substring(imgFile.value.lastIndexOf("."),imgFile.value.length);
//            filextension=filextension.toLowerCase();
//            if ((filextension!='.jpg')&&(filextension!='.gif')&&(filextension!='.jpeg')&&(filextension!='.png')&&(filextension!='.bmp'))
//            {
//                alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
//                imgFile.focus();
//            }
//            else
//            {
//                var path;
//
//                if(document.all)//IE
//                {
//                    imgFile.select();
//                    path = document.selection.createRange().text;
//
//                    document.getElementById("imgPreview").innerHTML="";
//                    document.getElementById("imgPreview").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";//使用滤镜效果
//                    path = imgFile.files[0].getAsDataURL();
//                    alert(path);
//                }
//                else//FF
//                {
//                    path = imgFile.files[0].getAsDataURL();
//                    alert(path);
//
//                    document.getElementById("imgPreview").innerHTML = "<img id='img1' width='120px' height='100px' src='"+path+"'/>";
//                    // document.getElementById("img1").src = path;
//                }
//            }
//        }
//
////    })
    $(function () {
        $('#btn').on('click',function(){
            var x = $('#input').val();
            alert(x);
            upload('input')
        });
        function upload(id) {
//            if (type == undefined) {
//                type = $("#type").val();
//            }
//            if (id == undefined) {
//                var id = 'file';
//            }
            file = $("#" + id);
            var filename = file.val();
//            if (type == 0) {
//                alert('图片类型不能为空');
//                return false;
//            }
//            if (filename == 0) {
//                alert("未选择上传文件");
//                return false;
//            }
            //            $("#image").submit();
            var fileObj = document.getElementById(id).files[0];
            console.log(fileObj);
            //            var FileController = '/driver/upload';
            var form = new FormData();
            form.append("myfile", fileObj);
//            form.append("type", type);
            $.ajax({
                type: 'post',
                url: '/product/upload',
                data: form,
                processData: false,
                contentType: false,
                success: function (res) {
                    var result = $.parseJSON(res);
                    if (result.code == 0) {
                        alert(result.src);
                        if (viewid != undefined) {
                            $("#" + viewid).val(result.src);
                        }
                    } else {
                        alert(result.message);
                    }
                }
            });
        }
    })
</script>