.orderview.order{
    padding: 10px 0;
    overflow: hidden;
    border: 1px solid #ccc;
}
.viewlist2 a,.viewlist a{
    display: block;
    overflow: hidden;
}
.viewlist2 a img{
    display: block;
    margin: 10px;
    width: 280px;
    height: 290px;
}
.viewlist img{
    margin: 40px 2.5% 0;
    float: left;
    width: 45%;
}
.viewlist2 a span,.viewlist span{
    display: block;
    color: #333;
    font-weight: bold;
    height: 25px;
    margin: 0 10px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    line-height: 25px;
}
.viewlist2 a label,.viewlist label{
    display: block;
    margin: 0 10px 3px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    color: #333;
    font-size: 12px;
}
.viewlist label{
    margin: 0 0 3px;
}
.viewlist2 a label em,.viewlist label em{
    font-weight: bold;
    color: #f60;
}
.viewlist label em,.viewlist .showtext em{
    float: none;
    margin: 0 0 0 10px;
}
.viewlist2 a .showtext span,.viewlist .showtext span{
    margin: 0;
}
.showtext{
    display: block;
    overflow: hidden;
    padding: 5px 10px 10px;
    background: #f5f5f5;
}
.showtext p{
    display: block;
    overflow: hidden;
}
.showtext i{
    float: left;
    line-height: 22px;
    color: #329afd;
    font-style: normal;
}
.showtext em{
    float: right;
    line-height: 22px;
    color: #666;
}
.showtext b{
    display: block;
    font-weight: normal;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
    color: #333;
}
.viewlist2{
    float: left;
    margin: 0 10px 30px;
    width: 300px;
    border: 1px solid #ccc;
}
.viewlist{
    display: block;
    overflow: hidden;
    margin: 0 auto 30px;
    padding: 0 0 40px;
    width: 1200px;
    border: 1px solid #ccc;
}
.userhead{
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    position: relative;
}
.userhead img{
    display: block;
    width: 120px;
    height: 120px;
}
.userhead input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.userinfo{
    display: block;
    margin: 0 0 0 135px;
    overflow: hidden;
}
.usernikename{
    display: block;
    overflow: hidden;
}
.usernikename span,.usernikename input{
    float: left;
    width: 260px;
    color: #333;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}
.usernikename input{
    line-height: 28px;
    margin: 5px;
    border: 1px solid #ccc;
    display: none;
}
.usernikename b{
    float: left;
    margin: 0 0 0 20px;
    color: #f60;
    font-weight: normal;
    cursor: pointer;
    line-height: 40px;
}
.userphoennum{
    display: block;
    line-height: 40px;
    font-size: 14px;
}
.userprice{
    display: block;
    line-height: 40px;
    font-size: 14px;
    color: #333;
}
.userprice em{
    color: #f60;
    font-weight: bold;
}
.userprice a{
    display: inline-block;
    margin: 0 0 0 10px;
    width: 60px;
    height: 28px;
    background: #db5d48;
    color: #fff;
    line-height: 28px;
    text-align: center;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.personcenter{
    display: block;
    overflow: hidden;
    width: 1120px;
    padding: 20px 40px;
    border: 1px solid #ccc;
    margin: 20px auto;
}
.userhead{
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    position: relative;
}
.userhead img{
    display: block;
    width: 120px;
    height: 120px;
}