.content{
    display: block;
    width: 1190px;
    overflow: hidden;
    margin: 0 auto;
}
.shopcar_null{
    display: block;
    overflow: hidden;
    margin: 100px 0 100px;
}
.shopcar_null p{
    display: block;
    padding: 155px 0 0;
    background: url("../images/shopcar/shopnull.png") no-repeat center 0;
    text-align: center;
    font-size: 18px;
    color: #999;
    line-height: 40px;
}
.shopcar_null a{
    color: #333;
}
.shopcar_null a:hover{
    text-decoration: underline;
}
.cs_car{
    display: block;
    overflow: hidden;
    width: 1190px;
    margin: 0 auto;
    padding: 30px 10px;
}
.cs_car th{
    font-size: 14px;
    color: #111d3c;
    line-height: 40px;
    background: #ccc;
    text-align: center;
}
.cs_car td{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.cs_car th.shopname{
    text-align: left;
    text-indent: 30px;
}
.cs_car td a img{
    float: left;
    width: 90px;
    height: 90px;
    border: 1px solid #ccc;
}
.cs_car td a span,.cs_car td a label{
    display: block;
    line-height: 25px;
    margin: 5px 10px 5px 100px;
    text-align: left;
}
.cs_car td a span{
    font-size: 18px;
    color: #333;
}
.cs_car td a label{
    font-size: 12px;
    color: #f60;
}
.deteleshop img{
    cursor: pointer;
    padding: 15px;
}
.cs_car td b{
    float: left;
    border: 1px solid #ccc;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    width: 22px;
    font-size: 18px;
}
.reduce{
    margin: 0 0 0 5px;
}
.cs_car td b.on{
    color: #ccc;
}
.shopnum input{
    float: left;
    width: 42px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #ccc;
    text-align: center;
    border-left: 0;
    border-right: 0;
}
.jiesuan{
    display: block;
    overflow: hidden;
    width: 485px;
    float: right;
    margin: 0 40px 0 0;
}
.deletetipopen{
    display: none;
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.deletetipboxbg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: #000;
    opacity:0.5;
    z-index: 1;
}
.deletetipbox{
    position: absolute;
    width: 400px;
    background: #fff;
    z-index: 2;
    height: 200px;
    top:50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
.deletetipbox p{
    display: block;
    line-height: 119px;
    text-align: center;
    font-size: 24px;
}
.deleteopenbtn{
    display: block;
    overflow: hidden;
    border-top:1px solid #ccc;
}
.deleteopenbtn a{
    float: left;
    width: 200px;
    line-height: 80px;
    color: #f60;
    text-align: center;
    font-size: 22px;
}
.deleteopenbtn a.deleteover{
    width: 199px;
    border-left:1px solid #ccc;
}
.jiesuan{
    display: block;
    overflow: hidden;
    width: 325px;
    float: right;
    margin: 0 20px 0 0;
}
.jiesuanlist{
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.jiesuanlist label,.jiesuanlist b{
    float: left;
    text-align: right;
    width: 120px;
    font-size: 14px;
    color: #333;
    line-height: 25px;
}
.jiesuanlist span{
    float: left;
    width: 200px;
    font-size: 14px;
    color: #333;
    line-height: 25px;
    text-align: right;
}
.jiesuanlist strong{
    font-size: 18px;
    color: #f60;
    float: right;
}
.jiesuanlist select{
    float: right;
    display: block;
    height: 22px;
    line-height: 22px;
    width: 280px;
    font-size: 14px;
    color: #717071;
    text-align: center;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
}
.shopcarbtn{
    display: block;
    overflow: hidden;
    padding: 30px 10px;
}
.shopcarbtn a{
    float: right;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
}
.paybtn{
    background: #f60;
}
.goshopbtn{
    background: #db5d48;
    margin: 0 20px 0 0;
}
.shopcarbtn p{
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}