<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../web/static/risk/css/common.css"></script>
    <title>model</title>
</head>
<body>
<div id="#main">
<div class="dind_a"><a href="/cash-order/list">返回列表</a></div>
<div class="reser_box">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr><th><div class="reser_th_b teg_l pl20">个人信息</div></th></tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>
</div>
</div>
</body>

</html>