.banner{width:100%;height:446px;background:#ff8329;}
.banner-con{width:990px;height:446px;margin:0 auto;background:url(/static/money/main/img/piggy/banner.jpg); position: relative; z-index: 99;}
.banner-con .txt{position: absolute; top:160px; left:25px; color:#fff; font-size: 14px;}
.banner-con .txt p{margin-bottom:10px;}
.banner-con .txt .p1{font-size: 30px;}
.banner-con .txt .p1 span{font-size: 48px; margin-left:5px;}
.banner-con .pay-btn{width:172px;height:54px; display: block; margin-top:10px;}
.piggy-desc1{width:990px; height:628px; margin:0 auto; background:url(/static/money/main/img/piggy/piggy3.jpg);}
.piggy-desc2{width:990px; height:683px; margin:0 auto; background:url(/static/money/main/img/piggy/piggy4.jpg);}
.piggy-desc3{width:990px; height:149px; margin:0 auto; background:url(/static/money/main/img/piggy/piggy5.jpg);}
.piggy-desc3 a{display: block; width:990px; height:149px;}
.piggy-raq{width:990px; margin:0 auto;}
.piggy-tit{margin:45px 0 15px;}
.piggy-tit span{font-size: 22px; color:#222222; font-weight: 800;}
.piggy-con{margin-bottom:20px;}
.piggy-ask{width:25px; height:25px; background-position: -51px -156px; line-height: 25px; text-align: center; color:#ffffff; font-size: 14px; margin-right:5px; cursor: default;}
.piggy-answer{width:950px;}
.piggy-answer .p1{height:25px; line-height: 25px; font-size: 14px; color:#222; font-weight: 800;}
.piggy-answer .p2{font-size: 14px; color:#888888; line-height: 24px; margin-bottom:10px;}
.piggy-answer .tab{width:855px; border-left:solid 1px #f5f0ec; border-top:solid 1px #f5f0ec; font-size: 14px; color:#222222;}
.piggy-answer .tab thead td{height:40px; border-bottom: solid 1px #f5f0ec; border-right:solid 1px #f5f0ec; background:#f5f0ec; text-align: center; font-weight: 800;}
.piggy-answer .tab tbody td{height:38px; border-right:solid 1px #f5efeb; border-bottom: solid 1px #f5efeb;}
.piggy-answer .tab tbody .odd td{background:#f8f5f2;}
.piggy-answer .tab tbody .td1{padding-left:15px;}
.piggy-answer .tab tbody .td2{padding-left:40px;}